
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,600&display=swap');
*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
header{
height: 10vh;
display: flex;
background-color: black;
justify-content: space-between;
padding: 2vh;
color: whitesmoke;
font-family: 'Roboto Serif', serif;
  font-size: 1.4rem;
}

.logo{
    height: 6vh;
}
.pata{
    margin-left: 5vh;
    display: flex;
    align-items: center;
}
.pata h2{
    margin-left: 1vh;
}
.midiasSociais{
    display:flex;
    width: 30vh;
    justify-content: space-between;
    margin-right: 5vh;
}
.midiasSociais2{
    display: none;
    margin-right: 5vh;
}
.bemVindo{
    background-image: url(Assets/festa.png);
   background-repeat: no-repeat;
   background-size:100% 100%;
   height: 90vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-family: 'Roboto Serif', serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
}
.bemVindo h1 {
    position: relative;
    bottom: 14vh;

}
.bemVindo img{
    height: 13%;
    width: 13%;
    position: relative;
    bottom: 10vh;
}
.banhoAlign{
    width: 40%;
    display: flex;
    flex-direction:column ;
    align-items: center;
}
.banho{
    background-image:url(Assets/leao.png) ;
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: 100vh;
    padding-left: 3vh;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-family: 'Roboto Serif', serif;
    text-align: center;
}
.banho h2 {
    font-size: 2.5rem;
    font-weight: bold;
}
.banho p{
    font-size: 1.5rem;
}
.fale-conosco {
    background-color: #3d3a38;
    color: whitesmoke;
    width: 25vh;
    height: 6vh;
    border-radius: 10rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    margin-top: 3vh;
}
.saudeAlign{
    width: 40%;
    display: flex;
    flex-direction:column ;
    align-items: center;
}
.saude{
    background-image :url(Assets/pincher.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: 100vh;
    padding-right: 3vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Roboto Serif', serif;
    text-align: center;
    color: whitesmoke;
}
.saude h2 {
    font-size: 2.5rem;
    font-weight: bold;
}
.saude p {
    font-size: 1.5rem;
}
.fale-conosco2 {
    background-color:whitesmoke;
    color:#3d3a38;
    width: 25vh;
    height: 6vh;
    border-radius: 10rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    margin-top: 3vh;
}
footer h4{
    display: none;
}
.apoio{
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: whitesmoke;
    justify-content: space-evenly;
    align-items: center;
    color:#FD6A9A;
    font-family: 'Roboto Serif', serif;
    font-size: 1rem;
}
.apoio img {
    height: 5vh;
}

.informacoes{
    height: 35vh;
    display: flex;
    background-color: #EB4A7B;
    justify-content: space-evenly;
    align-items: center;
    color:whitesmoke;
    font-family: 'Roboto Serif', serif;
      font-size: 1.2rem;
      
}
.informacoes h3 {
    font-size: 1.8rem;
    margin-bottom: 3vh;
}
.informacoes li{
    list-style-type: none;
}
.midiasSociaisMini{
    display: none;
}
.fantastika{ display: none;}

@media(min-width:220px) and (max-width: 500px){
    header{
        position: fixed;
        top: 0;
        width: 100%;
        height: 10vh;
        z-index: 999;
        font-size: 1.5vh;
        
    }
    .midiasSociais{display: none;}
    .midiasSociais2{
        display: initial;
    }
    .bemVindo{
        background-image: url(Assets/festaMobile.png);
        background-size:100% 100%;
        height: 110vh;
        font-size: 1.5rem;
    }
    .banho{
        background-image: url(Assets/leaoMobile.png);
        background-size:100% 100%;
        height: 100vh;
        display: flex;
        justify-content:flex-start;
        align-items: flex-start;
        padding-top: 5vh;
    }
    .banhoAlign{
        width: 80%;
        text-align: left;
        align-items: flex-start;
    }
    .banho h2 {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .banho p{
        font-size: 1rem;
    }
    .saude{
        background-image: url(Assets/pincherMobile.png);
        background-size:100% 100%;
        height: 100vh;
        display: flex;
        justify-content:flex-start;
        align-items: flex-start;
        padding-top: 5vh;
        padding-left: 3vh;
    }
    .saudeAlign{
        width: 80%;

        text-align: left;
        align-items: flex-start;
    }
    .saude h2 {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .saude p{
        font-size: 1rem;
    }
    .apoio h3{
        display: none;
    }
    footer h4{
        display: initial;
        background-color: whitesmoke;
        display: flex;
        font-size: 1.1rem;
        color:#FD6A9A ;
        justify-content: space-around;
    }
    .apoio img{
        height: 2vh;
    }
    .informacoes{
        height: auto;
        flex-direction:column ;
        
        text-align: center;
        padding-bottom: 6vh;
    }
    .informacoes h3{ margin-top: 3vh;}
    .fantastika{
        height: 8vh;
        margin-top: 3vh;
    }
    .midiasSociaisMini{
        margin-top: 4vh;
        display: initial;
    }
}